<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Vue安装</title>
		<script src="vue.js" type="text/javascript" charset="utf-8"></script>
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	</head>

	<body>
		<div id="app">
			<input type="text" v-model="name" />
			<button @click="hi()">你好</button>
			<button type="button" @click="showName">名称</button>
			<div>
				<el-button type="primary">按钮</el-button>
				<el-button type="primary" icon="el-icon-search">搜索</el-button>
			</div>
			<div>
				<div class="block">
					<span class="demonstration">默认</span>
					<el-date-picker v-model="value1" type="datetime" placeholder="选择日期时间">
					</el-date-picker>
				</div>
				<div class="block">
					<span class="demonstration">带快捷选项</span>
					<el-date-picker v-model="value2" type="datetime" placeholder="选择日期时间" align="right" :picker-options="pickerOptions">
					</el-date-picker>
				</div>
				<div class="block">
					<span class="demonstration">设置默认时间</span>
					<el-date-picker v-model="value3" type="datetime" placeholder="选择日期时间" default-time="12:00:00">
					</el-date-picker>
				</div>
			</div>
		</div>
	</body>

	<script type="text/javascript">
		var app = new Vue({
			el: "#app",
			data: {
				name: "Drew",
				value1: '',
				value2: '',
				value3: '',
				pickerOptions: {
					shortcuts: [{
						text: '今天',
						onClick(picker) {
							picker.$emit('pick', new Date());
						}
					}, {
						text: '昨天',
						onClick(picker) {
							const date = new Date();
							date.setTime(date.getTime() - 3600 * 1000 * 24);
							picker.$emit('pick', date);
						}
					}, {
						text: '一周前',
						onClick(picker) {
							const date = new Date();
							date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
							picker.$emit('pick', date);
						}
					}]
				},
			},
			methods: {
				hi() {
					console.log("Hello!")
				},
				showName() {
					console.log(this.name);
					console.log(this.$data.name); // 引用数据变量
				}
			}
		})
	</script>
</html>
